<div style="margin-top: 3rem;margin-bottom: 3rem;">
	<div class="field" style="display:flex; justify-content: center; align-items: center;">
		<img style="width: 150px; height: 150px;border-radius: 50%; " src="/images/profile.jpg">
	</div>
	<div class="field">
		<p class="is-size-4" style="text-align: center;">Yuki</p>
	</div>
	<div class="field">
		<p class="is-size-7" style="text-align: center;">バンクーバで働くしがなく働くエンジニア。技術、日々のことを綴っていきます。</p>
	</div>

	<div class="columns" style="margin: 0;">
		<a class="button column shareButton" href="https://twitter.com/__yukim" target="_blank" style="background-color: #55acee;">
			<span class="icon">
				<i class="fab fa-twitter" style="color: #fff"></i>
			</span>
		</a>
		<a class="button column shareButton" href="https://github.com/katsumeshi" target="_blank" style="background-color: #333;">
			<span class="icon">
				<i class="fab fa-github" style="color: #fff"></i>
			</span>
		</a>
		<a class="button column shareButton" href="https://www.linkedin.com/in/yuki-matsushita-b5a391b8/" target="_blank" style="background-color: #006fa6;">
			<span class="icon">
				<i class="fab fa-linkedin-in" style="color: #fff"></i>
			</span>
		</a>
		<a class="button column shareButton" href="{{ .Site.BaseURL }}/index.xml" target="_blank" style="background-color: #f26522;">
			<span class="icon">
				<i class="fas fa-rss" style="color: #fff"></i>
			</span>
		</a>
	</div>
</div>