{{- if .Site.Params.widgets.popular }}
<div class="widget-recent widget sticky">
    <h1 class="widget__title">{{ T "popular_title" }}</h1>
        {{ range (where .Site.Pages "File.Path" "in" .Site.Data.popular_data.populars) }}
             <div class="columns  is-mobile">
                {{- if .Params.thumbnail }}
                <div class="column is-one-quarter" style="border-bottom: 1px solid #ececec">
                    <figure class="image is-square">
                        <a href="{{ .Permalink }}">
                            {{ $thumbnail := .Params.thumbnail}}
                            {{ with .Site.GetPage "section" "images" }}
                                {{ $r := .Resources.GetMatch $thumbnail }}
                                {{ $img := ($r.Fill "100x100") }} 
                                <img src="{{ $img.RelPermalink }}">
                            {{ end }}
                        </a>
                    </figure>
                </div>
                {{- end }}
                <div class="column" style="border-bottom: 1px solid #ececec"><a class="widget__link" href="{{ .RelPermalink }}">{{ .Title }}</a></div>
            </div>
        {{ end }}
</div>
{{- end }}