{{- if .Site.Params.widgets.related }}
    <div class="widget-recent widget sticky">
            <h4 class="widget__title">{{ T "related_title" }}</h4>
            {{ $related := .Site.RegularPages.Related . | first 10 }}
                {{ with $related }}
                {{ range . }}
                     <div class="columns is-mobile">
                        {{- if .Params.thumbnail }}
                        <div class="column is-one-quarter  is-mobile" style="border-bottom: 1px solid #ececec">
                            <figure class="image is-square">
                                <a href="{{ .Permalink }}">
                                    <img style="object-fit:cover;" src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}" />
                                </a>
                            </figure>
                        </div>
                        {{- end }}
                        <div class="column" style="border-bottom: 1px solid #ececec"><a class="widget__link" href="{{ .RelPermalink }}">{{ .Title }}</a></div>
                    </div>
                    {{ end }}
                {{ end }}
        </div>
{{ end }}