.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

body {
	font-family: YakuHanJP , "Open Sans", "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "Arial", sans-serif !important;
	line-height : 1.75 !important;
	letter-spacing : 0.05rem !important;
}
  

@font-face{
    font-family:YuGothicM;
    font-weight:normal;
    src:local("YuGothic-Medium"),local("Yu Gothic Medium"),local("YuGothic-Regular")
}
@font-face{
    font-family:YuGothicM;
    font-weight:bold;
    src:local("YoGothic-Bold"),local("Yu Gothic")
}
@font-face{
    font-family:YakuHanJP;
    font-style:normal;
    font-weight:400;
    src:url("https://cdn.jsdelivr.net/npm/yakuhanjp@3.0.0/dist/fonts/YakuHanJP//YakuHanJP-DemiLight.woff2") format("woff2"),url("https://cdn.jsdelivr.net/npm/yakuhanjp@3.0.0/dist/fonts/YakuHanJP//YakuHanJP-DemiLight.woff") format("woff")
}
@font-face{
    font-family:YakuHanJP;
    font-style:normal;
    font-weight:700;
    src:url("https://cdn.jsdelivr.net/npm/yakuhanjp@3.0.0/dist/fonts/YakuHanJP//YakuHanJP-Medium.woff2") format("woff2"),url("https://cdn.jsdelivr.net/npm/yakuhanjp@3.0.0/dist/fonts/YakuHanJP//YakuHanJP-Medium.woff") format("woff")
}

a {
	color: #333 !important;
	text-decoration: none;
}

a:hover {
	color: #f82d2d !important;
}

.shareSticky {
	position: -webkit-sticky;
	position: sticky;
	bottom: 0;
	width: 70%;
	margin: 0 !important;
	max-width: 945px !important;
}


.sidebar-width {
	max-width: 400px !important;
	margin: 0px;
}

.fa-hatena:before {
    content: "B!";
    font-family: Verdana;
    font-weight: bold
}

.shareButton {
	display:flex !important;
	justify-content: center !important;
	border-radius: 0 !important;
	border: 0 !important;
}

@media screen and (max-width: 768px) {
	.sidebar-width {
		margin: 0px;
	}

	.shareSticky {
		position: -webkit-sticky;
		position: sticky;
		bottom: 0;
		margin: 0 !important;
		width: 100%;
	}
}

h1.single-page {
	background: linear-gradient(transparent 70%, #a7d6ff 70%);
}

/* h2.single-page {
	position: relative;
	background: #1BB4D3;
	color:#fff;
	font-size: 1.5em !important;
	font-weight: bold !important;
	border-radius: 5px;
	margin-top: 40px !important;;
	margin-bottom: 40px !important;;
	padding: 15px 15px !important;;
}
h2:after.single-page {
	position: absolute;
	content: '' !important;
	top: 100%;
	left: 30px;
	border: 8px solid transparent;
	border-top: 10px solid #1BB4D3;
	width: 0;
	height: 0;
} */

h3.single-page {
	font-size: 21px !important;
	border-left:4px solid;
	padding: .2em 0 .2em .8em !important;
	margin-top: 1.8em !important;
	margin-bottom: 1em !important;
	font-weight: bold !important;
}

p.single-page {
	margin: 0 0 20px !important;
}