{{ partial "header.html" . }}

<main class="column is-9">
	<article class="post">
		<header class="post__header">
			{{- if or (not .Date.IsZero) .Params.categories }}
			<div class="post__meta meta">{{ partial "post_meta.html" . }}</div>{{ end }}
			<h1 class="title post--title">{{ .Title }}</h1>
		</header>
		 {{- partial "post_toc.html" . -}}
		<div class="post__content clearfix">
			{{ .Content }}
		</div>
		{{ partial "post_tags.html" . }}
	</article>
	{{ partial "post_nav.html" . }}
	<div class="align-center-desktop">
		<div class="align-center-mobile">
			{{ partial "widgets/ad2.html" . }}
		</div>
		<div class="align-center-mobile">
			{{ partial "widgets/ad3.html" . }}
		</div>
	</div>
	{{ partial "comments.html" . }}
</main>

{{ partial "sidebar-single.html" . }} 

</div>

{{ partial "widgets/share.html" . }}

{{ partial "footer.html" . }}