$mainColor : #CB1B45;

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

body {
	font-family: YakuHanJP , "Open Sans", "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "Arial", sans-serif !important;
	letter-spacing : 0.05rem !important;
}

p {
	line-height : 1.8em ;
	& a {
		color: $mainColor;
	}
}

h1 {
	font-weight: bold;
}

h2 {
	font-weight: bold;
	font-size: 1.5em;
}
h3 {
	font-weight: bold;
	font-size: 1.2em;
}
h4 {
	font-weight: bold;
	font-size: 1em;
}
h5 {
	font-weight: bold;
	font-size: 1em;
}
h6 {
	font-weight: bold;
	font-size: 1em;
}
  

@font-face{
    font-family:YuGothicM;
    font-weight:normal;
    src:local("YuGothic-Medium"),local("Yu Gothic Medium"),local("YuGothic-Regular")
}
@font-face{
    font-family:YuGothicM;
    font-weight:bold;
    src:local("YoGothic-Bold"),local("Yu Gothic")
}
@font-face{
    font-family:YakuHanJP;
    font-style:normal;
    font-weight:400;
    src:url("https://cdn.jsdelivr.net/npm/yakuhanjp@3.0.0/dist/fonts/YakuHanJP//YakuHanJP-DemiLight.woff2") format("woff2"),url("https://cdn.jsdelivr.net/npm/yakuhanjp@3.0.0/dist/fonts/YakuHanJP//YakuHanJP-DemiLight.woff") format("woff")
}
@font-face{
    font-family:YakuHanJP;
    font-style:normal;
    font-weight:700;
    src:url("https://cdn.jsdelivr.net/npm/yakuhanjp@3.0.0/dist/fonts/YakuHanJP//YakuHanJP-Medium.woff2") format("woff2"),url("https://cdn.jsdelivr.net/npm/yakuhanjp@3.0.0/dist/fonts/YakuHanJP//YakuHanJP-Medium.woff") format("woff")
}

.article {
	&--title {
		line-height: 1.5em;
	}

}

.hero {
	&--margin {
		padding-right: 1em;
		padding-left: 1em;
	}

	&--subtitle-margin {
		margin-top: .5em
	}

    &.main-color {
        background-color: $mainColor !important;
        color: #fff !important;
    }
}


a {
	color: #333;
	text-decoration: none;
}

a:hover {
	color: $mainColor;
}

.shareSticky {
	position: -webkit-sticky;
	position: sticky;
	bottom: 0;
	width: 68%;
	margin: 0 !important;
}

.fa-hatena:before {
    content: "B!";
    font-family: Verdana;
    font-weight: bold
}

.shareButton {
	display:flex !important;
	justify-content: center !important;
	border-radius: 0 !important;
	border: 0 !important;
}

@media screen and (max-width: 768px) {
	.side-bar {
		margin: 0px;
	}

	.shareSticky {
		position: -webkit-sticky;
		position: sticky;
		bottom: 0;
		margin: 0 !important;
		width: 100%;
    }
    
    .align-center-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
	}
}

@media screen and (min-width: 769px) {
    .align-center-desktop {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .align-center-mobile {
        margin: 20px;
	}
	
	main {
		&.column {
			padding-right: 40px !important;
			// width: 70%;
		}
	}

	.side-bar {
		// width: 400px;
		margin: 0px;
	}
}

main {
	&.column.is-9 {
		
		width: 100%;
		@media screen and (min-width: 769px) {
			width: 68%;
		}
	}
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.side-bar {
	margin: 20px 0;

	h1 {
		margin-top: 2em;
		margin-bottom: 1em;
		font-size: 20px;
		font-weight: bold;
		padding: .3em .75em;
		color: #fff;
		background-color: $mainColor;
	  }
}



.single-page {

	header {
		border-bottom: 3px solid #ddd !important;
	}
	  

	>.post__header {
		margin-top: 2em;
		margin-bottom: 2em;
	}

    h2 {
        padding: .2em 0 .2em .8em !important;
        font-weight: bold !important;
        border-left: 10px solid $mainColor;
        margin-top: 40px !important;;
        margin-bottom: 1em !important;
		border-bottom: 3px solid $mainColor;

    }

    h3 {
        // font-size: 21px !important;
        border-left:4px solid $mainColor;
        padding: .2em 0 .2em .8em !important;
        margin-top: 1.8em !important;
        margin-bottom: 1em !important;
        font-weight: bold !important;
    }

    p {
        margin: 0 0 20px !important;
    }

}

.footer {
    background-color: #333 !important;
    color: #fff;

    a {
        color: #fff;
	}
	a:hover {
		color: $mainColor;
	}
}

.pagination {
	margin-top: 1em;
	margin-bottom: 1em;

	.is-current {
		color: $mainColor;
		background-color: #fff;
		border-color: #dbdbdb;
	}
	
	&--container {
		margin-top: 3em;
		border-top: 3px solid #bbb;
	}

	a:hover {
		color: $mainColor;
	}
}

.list__header {
	&.title:not(:last-child) {
		margin-bottom: 0em;
	}
	margin-bottom: 0.8em;
	font-size: 0.8em;
}

.tags__list {
	margin-left: .3em;
}

.post {
	&--title {
		font-size: 1.8rem;
		margin-bottom: .3em;
	}
}

.post__meta {
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: 0.8em;
}

.post-meta-lastmod {
	margin-left: .8em;
}

.meta-categories {
	margin-left: .8em;
}
.title-underline {
	border-bottom: 3px solid $mainColor;
	margin-top: 1em;
	margin-bottom: 1em;
}

.title:not(:last-child) {
	margin-bottom: .2rem;
}

.profile {
	margin-top: 3rem;
	margin-bottom: 3rem;
	&--subtitle {
		font-size: .85rem; 
	}
}

.warning {
	&--container {
		margin-top: 3em;
	}
	&--title {
		margin-top: 1em;
	}
	&--subtitle {
		margin-top: 2em;
	}
	&--link {
		margin-top: 3em;
		color: $mainColor;
		font-size: 1.3rem;
	}
}

pre.chroma code {  
	margin-top: -28px;
	padding-top: 40px;
	padding-bottom: 12px;
}